.repo-title {
  margin: 10px;
}

.repo-details {
  border: 1px solid #343f4d;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 10px;
}

.repo-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

.repo-details p {
  font-size: 14px;
  color: #a3abb5;
  margin: 5px 0;
}

.repo-details p:first-child {
  margin-top: 0;
}

.repo-details p:last-child {
  margin-bottom: 0;
}
